.Attorneys {
  background-color: #e4f1f5;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: navy;
}

.Heading {
  font-family: "Raleway", sans-serif;
  font-size: 35pt;
  line-height: 40px;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

.AttorneyInfo {
  display: flex;
  justify-content: center;
  margin: 2rem 10rem;
  font-family: "Raleway", sans-serif;
}

.Attorney {
  width: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem 0 3rem;
}

.Attorney img {
  height: 16rem;
  width: 14rem;
}

.Info {
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.Name {
  font-size: 17pt;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.Position {
  font-size: 17pt;
  border-bottom: 1px solid navy;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.Contact {
  font-size: 15pt;
}

@media screen and (max-width: 910px) {
  .AttorneyInfo {
    flex-direction: column;
  }
}
