.Back {
  max-width: 100vw;
}

.contactSection {
  background-color: rgba(34, 65, 151, 0.719);
  z-index: 50;
  color: #fff;
  overflow: hidden;
  display: flex;
}

.heading {
  background-color: rgba(24, 24, 68, 0.644);
  color: #fff;
  position: relative;
  width: 40%;
}

.headText {
  font-family: "Raleway", sans-serif;
  font-size: 35pt;
  line-height: 40px;
  position: relative;
  top: 20%;
  margin-left: 35%;
  width: 50%;
}

.contactInfo {
  position: relative;
  top: 5%;
  left: 5%;
}

.contactText {
  font-size: 18pt;
  line-height: 40px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.location {
  font-size: 18pt;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.location:hover {
  cursor: pointer;
}

.contactSectionMap {
  background-color: rgba(34, 65, 151, 0.719);
  z-index: 50;
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mapContainer {
  height: 70vh;
  width: 80%;
  padding: 2rem;
}

.map {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 980px) {
  .contactSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .heading {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headText {
    text-align: center;
    margin: auto;
    top: auto;
    width: 80%;
  }
  .contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: auto;
    padding-top: 1rem;
  }
}
