.Vision {
  background-color: rgb(37, 49, 105);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.Content {
  width: 70%;
}

.Heading {
  font-size: 35pt;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.VisionText {
  font-size: 15pt;
  margin-bottom: 4rem;
}

@media screen and (max-width: 600px) {
  .Content {
    width: 90%;
  }
}
