.Vision {
  background-color: rgb(37, 49, 105);
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 60;
  width: 100vw;
}

.Content {
  width: 70%;
}

.Heading {
  font-size: 35pt;
  font-weight: bold;
  padding-bottom: 3.5rem;
}

.VisionText {
  font-size: 15pt;
}
